<ion-content padding>
    <img src="assets/icon/firebase-seeklogo.com.svg" class="logo"/>
    <h2>
        Bem-Vindo
    </h2>

    <p>
        Para usar os recursos desta aplicação, você deve primeiro autenticar-se.
    </p>
    <form [formGroup]="formGroup" (ngSubmit)="acessar();">
        <ion-list>
            <ion-item>
                <ion-label color="primary" floating>E-mail</ion-label>
                <ion-input formControlName="EMAIL" type="email" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Senha</ion-label>
                <ion-input formControlName="SENHA" type="password" required></ion-input>
            </ion-item>
        </ion-list>

        <button ion-button >Acessar</button>
    </form>
</ion-content>