<ion-header>
  <ion-navbar>
    <ion-title>Cadastro/Alteração</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Informações do cliente</h2>
  <p>
    Preencha as informações do cliente.
  </p>

  <form [formGroup]="formGroup" (ngSubmit)="submit();">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Nome</ion-label>
        <ion-input formControlName="NOME"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>CPF</ion-label>
        <ion-input type="number" formControlName="CPF"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>Telefone</ion-label>
        <ion-input type="number" formControlName="TELEFONE"></ion-input>
      </ion-item>
      <br />
      <button ion-button type="submit" block>Enviar</button>
    </ion-list>
  </form>
</ion-content>