<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Cadastro/Alteração" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Listagem" tabIcon="information-circle"></ion-tab>
</ion-tabs>